[Unit]
Description=Onedata Docker volume plugin
Before=docker.service
After=network.target
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker-volume-onedata /var/lib/docker/plugins

[Install]
WantedBy=multi-user.target
